
@{
    ViewBag.Title = "Index";
}

<h2>Roshambo</h2>
<div ng-controller="RoshamboController">
    <div id="mainGame">
        <p>Choose a game type:</p>
        <div>
            <button ng-click="setGameUp(true)">Player vs. CPU</button>
            <button ng-click="setGameUp(false)">CPU vs. CPU</button>
        </div>
    </div>

    <div id="cpuGame" hidden="hidden">
        <button ng-click="getResult()">Play a round</button>
    </div>

    <div id="humanGame" hidden="hidden">
        <p>Pick a move:</p>
        <div>
            <button ng-click="getResult(0)">Rock</button>
            <button ng-click="getResult(1)">Paper</button>
            <button ng-click="getResult(2)">Scissors</button>
        </div>
    </div>
</div>