
@{
    ViewBag.Title = "Index";
}

<h2>Roshambo</h2>

<div>
    <p>Choose a game type:</p>
    <div>
        <button>Player vs. CPU</button>
        <button>CPU vs. CPU</button>
    </div>
</div>

<div>
    <p>Choose a number of rounds:</p>
    <div>
        <button>3</button>
        <button>10</button>
        <button>Play forever!</button>
    </div>
</div>

<div>
    <p>Pick a move:</p>
    <div>
        <button>Rock</button>
        <button>Paper</button>
        <button>Scissors</button>
    </div>
</div>